@model PizzaShop.Entity.ViewModels.UsersListViewModel;
@{
    ViewData["Title"] = "Users";
    Layout = "_Layout";
}

<!-- User heading, search and add button -->
<div class="d-flex flex-column flex-sm-row justify-content-between users mb-3 ">
    <div>
        <h1 class="blue-text">Users</h1>
    </div>
    <div class="justify-content-end d-flex align-items-center">
        <div class="me-2">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search" name="search" id="searchUser" oninput="PaginationAjax(1)">
                <button type="submit" class="input-group-text"> 
                    <img src="~/images/icons/search.svg" alt=""> 
                </button>
                
            </div>
        </div>
        <div>
            <a asp-action="AddUser" asp-controller="Users" class="btn btn-blue text-nowrap">
                + Add users
            </a>
        </div>
    </div>
</div>

<!-- Table -->
<div class="bg-white px-3" id="tableContent">
    <!-- Partial View -->
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            PaginationAjax(1); // Load users on page load
        });

        function PaginationAjax(pageNumber) {
            let pageSize = $("#itemsPerPage").val(); 
            
            let searchQuery = $("#searchUser").val();
            if (searchQuery == null) {
                searchQuery = ""
            }
            console.log("search is",searchQuery);

            $.ajax({
                url: "/Users/GetUsersList",
                data: {
                    'search': searchQuery,
                    'pageSize': pageSize,
                    'pageNumber': pageNumber
                },
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                },
                error: function () {
                    alert("No Users Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        }

        //Delete Users
        let userId;
        $(document).on("click", ".deleteIcon", function () {
            userId = $(this).data("id");
        })

        $(document).on("click", "#SoftDelete", function () {
            $.ajax({
                url: '@Url.Action("DeleteUser", "Users")',
                type: "POST",
                data: { id: userId },
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message)
                        setTimeout(function(){
                            location.reload();
                        },000);
                    }
                    else{
                        toastr.error(response.message)
                    }
                },
                error: function () {
                    console.log("User not deleted!");
                }
            })
        })

    </script>
}
