@* @using PizzaShop.Entity.ViewModels

@model ModifierGroupViewModel

<!----------------------------------------------------- Category starts ------------------------------------------------------->
<div class="category col-12 col-md-3 pt-2 bg-dark-grey">

    <div class="d-flex justify-content-between align-items-center mb-2">
        <span class="fs-5 fw-bold blue-text">Modifier Group</span>
        <!-- Button trigger modal -->
        <button type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#addModifierGroup">
            <img src="~/images/icons/plus-square.svg" alt="" width="25px">
        </button>
    </div>

    <div class="category-list pe-1">
        <ul class="pe-1" id="ul-category">

            @foreach (var modifierGroup in Model.Modifiers)
            {
                <li class="d-flex justify-content-between li-category" data-id="@category.CategoryId">
                    <a class="d-flex align-items-center">
                        <img src="~/images/icons/grid-3x2.svg" class="grid-img" id="">
                        <span class="categoryName">@category.CategoryName</span>
                    </a>
                    <div class="EditDeleteCategory">
                        <button class="btn p-0 pe-1 iconEditCategory" data-bs-toggle="modal" data-bs-target="#editCategory"
                            data-id="@category.CategoryId">
                            <img src="~/images/icons/edit.svg" alt="" />
                        </button>
                        <button class="btn p-0 pe-1 iconDeleteCategory" data-bs-toggle="modal"
                            data-bs-target="#deleteCategory" data-id="@category.CategoryId">
                            <img src="~/images/icons/delete.svg" alt="">
                        </button>
                    </div>
                </li>
            }

        </ul>
    </div>
</div>
<!----------------------------------------------------- Category ends  -------------------------------------------------------> *@