@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

<!-- User heading, search and add button -->
<div class="d-flex justify-content-between align-items-center mb-3">

    <h1 class="blue-text">Dashboard</h1>

    <div class="dropdown bg-white border-2" style="width: 200px;">
        <a class="btn fw-semibold text-muted dropdown-toggle w-100 d-flex justify-content-between align-items-center"
            id="timeFrameBtn" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Time Range">
            Last 30 days
        </a>

        <ul class="dropdown-menu w-100">
            <li><span class="dropdown-item bg-white cursor-pointer" onclick="changeTimeFrame('Today')">Today</span></li>
            <li><span class="dropdown-item bg-white cursor-pointer" onclick="changeTimeFrame('Last 7 days')">Last 7
                    days</span></li>
            <li><span class="dropdown-item bg-white cursor-pointer" onclick="changeTimeFrame('Last 30 days')">Last 30
                    days</span></li>
            <li><span class="dropdown-item bg-white cursor-pointer" onclick="changeTimeFrame('Current Month')">Current
                    Month</span></li>
            <li><span class="dropdown-item bg-white cursor-pointer" onclick="changeTimeFrame('Custom Date')">Custom
                    Date</span></li>
        </ul>
    </div>
</div>

<div id="DashboardContent">
    <!-- Partial View -->
</div>

<!-- #region Modals -->
<!-- Date Range Modal -->
<div class="modal" tabindex="-1" id="dateRangeModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title text-clr-grey fw-bolder">Select Date Range</h5>
                <button type="button" class="btn-close" id="dateRangeClose" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center row gap-2 mx-0">
                <div class="dateSelection form-floating col px-0">
                    <input type="date" class="form-control" id="customerFromDate">
                    <label for="customerFromDate" class="mx-2">From Date</label>
                </div>
                <div class="dateSelection form-floating col px-0">
                    <input type="date" class="form-control" id="customerToDate">
                    <label for="customerToDate" class="mx-2">To Date</label>
                </div>
            </div>
            <div class="modal-footer border-0 d-flex justify-content-center">
                <button data-userId="" class="btn btn-primary" id="dateRangeSubmit">Submit</button>
                <button type="button" class="btn btn-secondary" id="dateRangeCancel"
                    data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Date Range end-->
<!-- #endregion -->

@section Scripts {
    @* Load Dashboard *@
    <script>
        let timeRange = "Last 30 days"
        $(document).ready(function () {
            loadDashboard();
        });

        // Handle time range change
        function changeTimeFrame(time) {
            timeRange = time;
            $("#timeFrameBtn").text(time);
            if (time === "Custom Date") {
                // Show modal
                $("#dateRangeModal").modal("show");
                resetDate();
            }
            else {
                loadDashboard();
            }
        }

        // Date Range Selection
        $(document).on("click", "#dateRangeSubmit", function () {
            loadDashboard();
            $("#dateRangeModal").modal("hide");
        });

        // Date Range Cancel
        $(document).on("hide.bs.modal", "#dateRangeModal", function () {
            resetDate();
        });

        // Restrict future dates
        function resetDate() {
            $("#customerFromDate, #customerToDate").val("");
            let today = new Date().toISOString().split("T")[0];
            $("#customerFromDate, #customerToDate").attr("max", today);
        }

        // Validate Date
        $(document).on("change", "#customerFromDate", function () {
            let fromDate = $(this).val();
            $("#customerToDate").attr("min", fromDate);
        });

        $(document).on("change", "#customerToDate", function () {
            let toDate = $(this).val();
            $("#customerFromDate").attr("max", toDate);
        });

        // Load Dashborad
        function loadDashboard() {
            let filter = {
                DateRange: timeRange,
                FromDate: $("#customerFromDate").val(),
                ToDate: $("#customerToDate").val(),
            };

            $.ajax({
                url: '@Url.Action("DashBoardPartial", "Profile")',
                type: "POST",
                data: { filter },
                success: function (response) {
                    if (response.success == false) {
                        toastr.error(response.message);
                    }
                    else {
                        $("#DashboardContent").html(response);
                        resetDate();
                        generateCharts();
                    }
                },
                error: function () {
                    toastr.error("Error loading data");
                }
            });
        }
    </script>
}