@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
a{
    color: black;
    text-decoration: none;
}

.blue{
    filter: brightness(0) saturate(100%) invert(23%) sepia(81%) saturate(1892%) hue-rotate(184deg) brightness(99%) contrast(101%);
}

/* Background-color */
.bg-blue{
    background-color: #D8EFF7 !important;
}

.bg-grey{
    background-color: #F2F2F2 !important;
}

.bg-light-grey{
    background-color: #f9f9f9;
}

.bg-dark-grey{
    background-color: #a1a9b3;
}

.bg-cream{
    background-color: #fdf5e6;
}

.bg-light-blue{
    background-color: lightblue;
}

.bg-sky-blue{
    background-color: #39a7ed;
}

/* Color */
.blue-text{
    color: #0066A8 !important;
}

.text-grey{
    color: #686868;
}

.light-grey-text{
    color: #929292
}

.text-light-blue{
    color: #00c0ff;
}

.clr-yellow{
    color: #f7bc51;
}

.text-light-grey{
    color: #d2cec6;
}

.text-green{
    color: #7fc83c;
}

.text-blue{
    color: #77b4e0;
}

/* Button */
.btn-blue{
    color: white !important;
    background-color: #0066A8 !important;
}

.btn-white{
    color: #0066A8 !important;
    border: 1px solid #0066A8 !important;
}

.sortBtn[data-order="desc"]{
    margin-left: -10px;
}

/* Width */
.w-55{
    width: 55%;
}

/* Login Page */
.hero-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-heading{
    color: #0066A8;
    font-size: x-large;
    font-weight: 500;
}

.pizzashop-text{
    color: #0066A8 !important;
    font-weight:700 !important;
    font-size: x-large;
}

.PizzaShop-Navbar-Text{
    color: white !important;
    font-weight:700 !important;
    font-size: x-large;
}

.pizzashop_logo{
    height: 40px;
    width: fit-content;
}

.rem_pass a{
    color: blue;
}

.login-btn{
    color: white !important;
    background-color: #0066A8 !important;
}

.input-group-text{
    background-color: white !important;
    border-left-style:none !important;
}

.input-group input{
    border-right-style:none !important;
}

/* Media Query for login page */
@media (max-width : 767px) {
    
    /* Background-img*/
    .bg-img {
        position: relative;
        z-index: 1;
    }

    .bg-img:before{
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/dominos_background.jpg);
        background-size: cover;
        background-position: center;
        opacity: 0.5;
    }

    .right-section{
        backdrop-filter: blur(10px);
    }

}

@media (max-width : 375px) {
    .rem_pass{
        flex-direction: column;
    }
}

/* sidebar */

.below-navbar{
    padding-top: 63px;
}

.sidebar{
    width: 260px;
    background-color: white;
}

.main-content{
    width: calc(100% - 260px);
}

.sidebar>div{
    position: fixed;
    width: inherit;
}

.sidebar a{
    font-size: large;
    padding: 12px;
    color: #686868;
    font-weight: 600;
    text-decoration: none;
    display:flex;
    align-items: center;
    gap: 4px;
}

.side-dash{
    color: #0066A8 !important;
    background-color: #e9eaeb;
}

/* Navbar */
nav{
    background-color: #0066a8;
}

.blue-Navbar{
    z-index: 10;
}


/* Users */

.users input{
    padding: 7px;
}

.bg-active{
    background-color: #99D363;
    color: white;
    font-weight: 500;
    border-radius: 12px;
    padding: 1px 20px;
}

.bg-inactive{
    background-color: lightcoral;
    color: white;
    font-weight: 500;
    border-radius: 12px;
    padding: 1px 20px;
}

.a-disabled{
    pointer-events: none;
    opacity: 0.5;
}

td{
    vertical-align: middle;
}

/* Add new user */

.form-floating>label {
    z-index: 5;
    top: -5px;
    /* left: 10px; */
    left: unset;
}

.browse>label{
    border: 1px dotted gray;
    height: 100px;
}

/*Permission*/
.permission-role{
    width: max-content;
}

/* Menu */

.nav-pills .nav-link.active{
    color: #0066A8 !important;
    background-color: white;
    border-bottom: 2px solid #0066A8;
    border-radius: 0px;
}

.nav-pills .nav-link.active img{
    filter: brightness(0) saturate(100%) invert(23%) sepia(81%) saturate(1892%) hue-rotate(184deg) brightness(99%) contrast(101%);
}

.nav-link{
    color: grey;
}

.tab-text{
    font-weight: 600;
}

.category-list a, .modifierGroup-list a, .section-list a{
    color: #686868;
    font-weight: 600;
}

.category-list ul, .modifierGroup-list ul, .section-list ul {
    list-style: none;
    padding:8px
}

.category-list li, .modifierGroup-list li, .section-list li{
    color: #686868;
    margin-top: 20px;
}

.grid-img{
    transform: rotate(90deg);
    margin-right: 4px;
}

.category-list, .modifierGroup-list, .section-list{
    overflow-y: auto;
    height: 350px;
}

.category, .modifierGroup, .section{
    width: 300px;
}

.EditDeleteCategory, .EditDeleteModifierGroup, .EditDeleteSection{
    visibility: hidden;
}

.search-group{
    min-width: 200px;
}

table{
    overflow-x: auto; 
    white-space: nowrap; 
}


table td{
    font-weight: 500;
}

table td,th{
    color: #686868 !important;
    white-space: nowrap;
}

.modifier-modal{
    border: 1px solid #ced4da;
    height: 410px;
    overflow-y: scroll;
}

.modifier-option .form-select{
    border-radius: 20px;
}

.modifier-option ul{
    padding-left: 20px;
}

@media (max-width: 1290px) {
    .category, .modifierGroup, .section{
        width: 100%;
        height: fit-content;
    }

    .category-list , .modifierGroup-list, .section-list{
        height: 170px;
    }

    .category-list ul, .modifierGroup-list ul, .section-list ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 8px;
    }
}

@media (max-width: 620px) {
    .category-list ul, .modifierGroup-list ul, .section-list ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

@media (max-width: 460px) {
    .category-list ul, .modifierGroup-list ul, .section-list ul{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
    }
}

@media (max-width: 1000px) {
    #sidebar{
        z-index: 100;
        display: none;
        position: fixed;
        height: 100%;
    }
}

.selectMod .btn-close{
    width: 0.5em;
    height: 0.5em;
}


/* Modal */

.modal-header{
    border-bottom-width: 0px;
}

.modal-body{
    padding-top: 4px;
    padding-bottom: 4px;
}

.modal-footer {
    border-top-width: 0px;
}

.modal-footer button, .modal-footer a{
    width: 90px;
}


/* My Profile page */
.myprofile-icons{
    opacity: 0.7;
}

.profile-img{
    position: relative;
    top: -25px;
    left: 10px;
    height: 100px;
    width: 120px;
}

.camera-img{
    padding: 5px;
    width: 30px;
}

.camera-div{
    height: fit-content;
    width: fit-content;
    border: 1px solid gray;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: -25px;
}


/* Change Password */
.ChangePassword-form input{ 
    min-width: 220px;
    max-width: 420px;
}

.change-content{
    padding: 10px 10%;
}

@media (max-width: 450px) {
    .change-content{
        padding: 10px 0%;
    }
}


/*-------------Role---------*/
.role-table{
    max-width: 1300px;
}

.form-check-input:checked {
    background-color: #0066A8;
    border-color: #0066A8;
}

/* Table and Section */
.available {
    color: white;
    background-color: green;
}

.occupied {
    color: white;
    background-color: grey;
}

.table-available {
    border: 1px solid #a1a1a1;
    background-color: #f3f3f3;
}

.table-selected {
    border: 2px solid #2f87009e;
    background-color: #f5f5f5bf;
}

.table-assigned {
    border: 1px solid #289d00;
    background-color: #F2FAEC;
}

.table-assigned h4 {
    color: #248f00 !important;
}

.table-occupied {
    border: 1px solid #0093a9;
    background-color: #E0F2FF;
}

.table-occupied h4 {
    color: #0081b5 !important;
}

/* Order Details */
.dateRange-div button{
    min-width: 80px;
    max-width: 145px;
}

.subtotal-table{
    width: 200px;
}

.subtotal-table td{
    color: black !important;
    padding: 0px;
}

.order-detail{
    max-width: 75%;
}

@media (max-width: 767px) {
    .order-detail{
        max-width: 90%;
    }

    .dateRange-div button{
        width: 145px;
    }
    .order-export-div{
        width: 300px;
    }

}

/* Order App */
.below-nav-orderApp{
    padding-top: 67px;
}

/* KOT */
.kot-nav{
    flex-wrap: nowrap;
    overflow-x: auto;
}

.kot-card{
    height: 300px;
    width: 400px;
    border: 2px dashed lightgray;
}

.kot-card-header{
    height: 65px;
}

.kot-card-footer{
    height: 50px;
}

.kot-card-header{
    background-color: #e3e3e3;
}

.kot-card-footer{
    background-color: #f7f5f4;
}

.kot-card-body{
    height: 185px;
    overflow-y: auto;
}

/* KOT Item list Modal*/
.item-quantity{
    width: fit-content;
    border: 1px solid #0066A8;
}

.item-quantity input{
    width: 30px;
    border: none;
}

/* Tables in Order App */
.accordion {
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-border-color: none;
}

.accordion-button::after {
    background-size: unset;
    position: absolute;
    padding: 16px;
    border: 2px solid rgb(139, 139, 139);
    border-radius: 50%;
    filter: brightness(0) saturate(100%) invert(51%) sepia(0%) saturate(152%) hue-rotate(230deg) brightness(100%) contrast(103%);
}

.accordion-button::after {
    transform: rotate(-90deg);
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
    filter: brightness(0) saturate(100%) invert(23%) sepia(81%) saturate(1892%) hue-rotate(184deg) brightness(99%) contrast(101%);;
}

.table-card{
    width: 280px;
}

/* Waiting List */
.num-circle{
    background-color: #a1a9b3;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    padding: 5px 12px;
}

/* Order App Menu */
.menu-sidebar{
    height: 100%;
    width: 200px;
    background-color: white;
}

.menu-main-content{
    width: calc(100% - 200px);
}

.app-categories .nav-link.active{
    color: white !important;
    border: none !important;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    background-color: #0066A8;
}

.menu-main-content .search-group{
    height: 45px;
    width: 350px;
}

/* Sidebar media query */
@media (max-width : 767px) {

    .menu-sidebar{
        height: 90px;
        width: 100%;
        background-color: white;
    }

    .app-categories .nav-link.active{
        color: white !important;
        border: none !important;
        border-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #0066A8;
    }

    .menu-main-content{
        width: 100%;
    }

    .menu-main-content .search-group{
        height: 45px;
        width: 300px;
    }

}

.menu-card{
    height: 75px;
    width: 260px;
}

.badge-corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-top-right-radius: 7px;
}
 
.vegan-badge {
    border-top: 30px solid #f88d1a;
}
 
.vegetarian-badge {
    border-top: 30px solid #00a651;
}
 
.non-vegetarian-badge {
    border-top: 30px solid #f14338;
}
 



