<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Order ID: #223</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="col text-start">Item</th>
                    <th scope="col" class="col text-end">Quantity</th>
                </tr>
            </thead>
            <tbody>


                <tr>
                    <td class="text-start">
                        Grilled Burger
                        <ul class="mb-0">
                            <li>Tomato</li>
                            <li>Tomato</li>
                            <li>Tomato</li>
                            <li>Tomato</li>
                            <li>Tomato</li>
                            <li>Tomato</li>
                        </ul>

                    </td>
                    <td class="align-text-top ">
                        <div class="item-quantity d-flex align-items-center gap-0 ms-auto rounded-2">
                            <button class="btn fs-4 py-0"> 
                                <span class="">-</span> </button>
                            <input type="text" value="3" class="text-center">
                            <button class="btn fs-4 py-0"> + </button>
                        </div>

                    </td>

                </tr>

            </tbody>
        </table>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-blue text-nowrap w-auto">Mark as Prepared</button>
    <button type="button" class="btn btn-white" data-bs-dismiss="modal">Cancel</button>
</div>