@using PizzaShop.Entity.ViewModels
@model List<CategoryViewModel>

@{
    ViewData["Title"] = "KOT";
    Layout = "_OrderAppLayout";
}

<!--Heading-->
<h2 class="blue-text mt-1 mb-3">KOT</h2>

<!-- Categories heading tab starts-->
<div class="row bg-white px-3 pt-2 mx-0 mb-3 d-flex flex-row shadow rounded-1">
    <ul class="nav nav-pills d-flex gap-2 kot-nav" id="pills-tab" role="tablist">
        <li class="nav-item me-2" role="presentation" data-id="0">
            <button class="nav-link active p-2" id="tab-1" data-bs-toggle="pill" type="button" role="tab"
                aria-controls="pills-home" aria-selected="true">
                <span class="fs-5 tab-text">All</span>
            </button>
        </li>
        @foreach (var category in Model)
        {
            <li class="nav-item" role="presentation" data-id="@category.Id">
                <button class="nav-link p-2" id="tab-2" data-bs-toggle="pill" type="button" role="tab"
                    aria-controls="pills-profile" aria-selected="false">
                    <span class="fs-5 tab-text text-nowrap">@category.Name</span>
                </button>
            </li>
        }
    </ul>
</div>
<!-- Categories heading tab ends-->

<!-- Kot cards start -->
<div class="row bg-white mx-0 pb-3 d-flex flex-row" id="kot-cards">
    <!-- KOT Partial View -->
</div>
<!-- Kot cards  ends -->

<!-- Modal Order Items starts -->
<div class="modal fade" id="orderItemsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="OrderItemContent">
            <!-- Order Items Partial View -->
        </div>
    </div>
</div>
<!-- Modal Order Items ends -->


@section Scripts {
    @* Document Ready *@
    <script>
        $(document).ready(function () {
            CardsAjax(1);
        });

        let categoryId = 0;
        $(document).on("click", ".nav-item", function () {
            categoryId = $(this).data("id");
            CardsAjax(1);
        })
    </script>

    @* Ready, In progress Button *@
    <script>
        let isReady = false;
        $(document).on("click", ".status-btn", function () {
            isReady = $(this).data("ready");
            console.log(isReady);
            CardsAjax(1);
        })
    </script>

    @* Cards Ajax *@
    <script>
        function CardsAjax(pageNumber) {
            $.ajax({
                url: '@Url.Action("GetCards", "Kot")',
                data: {
                    categoryId: categoryId,
                    isReady: isReady,
                    pageNumber: pageNumber
                },
                type: "GET",
                dataType: "html",
                success: function (data) {
                    $("#kot-cards").html(data);
                },
                error: function (data) {
                    alert("No cards Found");
                    $("#kot-cards").html('No card found!');
                }
            });
        }
    </script>

    @* Formate the time *@
    <script>
        $(document).ready(function () {
            setInterval(updateTimeDifference, 100);
            updateTimeDifference();
        });

        function updateTimeDifference() {
            document.querySelectorAll(".order-time").forEach(element => {

                const orderTime = new Date(element.getAttribute("data-time"));
                const now = new Date();
                const diffInSeconds = Math.floor((now - orderTime) / 1000);

                if (diffInSeconds < 0) {
                    element.querySelector(".time-difference").textContent = "Just now";
                    return;
                }

                let days = Math.floor(diffInSeconds / (24 * 3600));
                let hours = Math.floor((diffInSeconds % (24 * 3600)) / 3600);
                let minutes = Math.floor((diffInSeconds % 3600) / 60);
                let seconds = diffInSeconds % 60;

                element.querySelector(".time-difference").textContent =
                    `${days}d ${hours}h ${minutes}m ${seconds}s `;
            });
        }
    </script>

    @* Order Details Modal *@
    <script>
        function GetOrderItems(kotcard, isReady) {
            $.ajax({
                url: '@Url.Action("GetOrderItems", "Kot")',
                type: "GET",
                data: {
                    kotCard: JSON.stringify(kotcard),
                    isReady: isReady
                },
                dataType: "html",
                success: function (data) {
                    $("#orderItemsModal").modal("show");
                    $("#OrderItemContent").html(data);
                },
                error: function () {
                    console.log("There is error.Not successful");
                    alert("Not Found");
                }
            })
        }
    </script>

    @* Inc/Dec Quantity of Item *@
    <script>
        $(document).on("click", ".incItem", function () {
            let itemQuantity = (".itemQuantity").val()
                (".itemQuantity").val()
        })

        function changeQuantity(itemId, num) {
            let quantity = Number($(".item-quantity-" + itemId).val());
            let max = Number($(".item-quantity-" + itemId).prop("max"));
            if (quantity + num > 0 && quantity + num <= max) {
                $(".item-quantity-" + itemId).val(quantity + num);
            }
        }
    </script>

    @* Order Details Modal Form Submit *@
    <script>
        $(document).on("submit", "#saveKotForm", function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (response) {
                    console.log("response after submission is",response);
                    if (response.success) {
                        $("#orderItemsModal").modal("hide");
                        toastr.success(response.message);
                        CardsAjax(1);
                    }
                    else{
                        toastr.error(response.message);
                    }
                },
                error: function () {
                    console.log("There is error.Not successful");
                }
            });
        });
    </script>

}